.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-Al4jXeNTq9l6);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__sGvsU {
  display: flex;
  flex-direction: column;
}
.freeBox__f22Gb {
  flex-direction: row;
  position: absolute;
  height: var(--token-A8zllTKtFr92);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-bmoUWvU7oO5f) var(--token-RuzXfs8NypJk);
}
.freeBoxiconStart__f22GbsPfIc {
  display: flex;
}
.slotTargetStart {
  color: var(--token-Ci98SPKSoPxb);
}
.svg__xVc2R {
  position: relative;
  height: 1em;
}
.textInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox___7Yl9W {
  height: var(--token-A8zllTKtFr92);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-bmoUWvU7oO5f) var(--token-RuzXfs8NypJk);
}
.freeBoxiconEnd___7Yl9WrBcD8 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-Ci98SPKSoPxb);
}
.svg__uJgg3 {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
