.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-fvqdKzInTnbR);
  font-family: var(--token-a6H0jKl4llF4);
  font-size: var(--token-0E67eiMZ83U8);
  line-height: var(--token-oUpGLgRIk-RT);
  width: 100%;
  row-gap: var(--token-q7Y92ApI5F1N);
}
.ariaSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__xiWc7 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  column-gap: var(--token-R09znQWzn0Lc);
}
.text__zxEFq {
  position: relative;
}
.freeBox__aVde7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-bmoUWvU7oO5f);
  padding-bottom: var(--token-bmoUWvU7oO5f);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-_BIogN4kmYc5);
  height: var(--token-R09znQWzn0Lc);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-R09znQWzn0Lc);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb__y6E:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-Al4jXeNTq9l6);
}
.foreground {
  display: block;
  background: var(--token-NzPrRB5Uj2Vj);
  height: var(--token-R09znQWzn0Lc);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
