.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-Al4jXeNTq9l6);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__hoeXt {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-Al4jXeNTq9l6);
}
.radio__kp8N:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__kcycl:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__ufHk8:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
