.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-NzPrRB5Uj2Vj);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-R09znQWzn0Lc);
  font-family: var(--token-a6H0jKl4llF4);
  font-size: var(--token-0E67eiMZ83U8);
  line-height: var(--token-oUpGLgRIk-RT);
  outline-style: none;
  border-radius: var(--token-bmoUWvU7oO5f);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-zvbM3e4Shxz8);
  outline-offset: 1px;
  outline-color: var(--token-NzPrRB5Uj2Vj);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-x5YB73kCo0t9);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-llc-kRL5couk);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-pD8mTWRqX9Cx);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-pOaoj6y2WySK);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-6Emt0SN4A8O_);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-YcMfNB00yXzZ);
  font-size: var(--token-26X1uwTtnejh);
  column-gap: var(--token-zvbM3e4Shxz8);
  row-gap: 0px;
  border-radius: var(--token-Al4jXeNTq9l6);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-26X1uwTtnejh);
  line-height: var(--token-YcMfNB00yXzZ);
  column-gap: var(--token-Al4jXeNTq9l6);
  row-gap: 0px;
  border-radius: var(--token-Al4jXeNTq9l6);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-qoNAGCPnkku-);
  line-height: var(--token-XlW3p4Hsybd5);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-qoNAGCPnkku-);
  line-height: var(--token-XlW3p4Hsybd5);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-mLiHx-OXnbBP);
  border-radius: var(--token-bmoUWvU7oO5f);
}
.softBackgroundcolor_neutral {
  background: var(--token-l-fNnXNzrFml);
}
.softBackgroundcolor_muted {
  background: var(--token-K301GZ-vQp8J);
}
.softBackgroundcolor_success {
  background: var(--token-0AKAfDy318ah);
}
.softBackgroundcolor_warning {
  background: var(--token-zYHKYtFt_Bvk);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-H2wZUb2GcmOD);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-bmoUWvU7oO5f);
  border: 0px solid var(--token-mflKKO3KjP_a);
}
.bordercolor_neutral {
  border-color: var(--token-p1rCtua81dI9);
}
.bordercolor_muted {
  border-color: var(--token-ETa0vADAjDDi);
}
.bordercolor_success {
  border-color: var(--token-JzkEuyLURG1A);
}
.bordercolor_warning {
  border-color: var(--token-ydkY66zQOqAg);
}
.bordercolor_errorDestructive {
  border-color: var(--token-iZWR4LCfHmz1);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-bmoUWvU7oO5f);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-EgeNxoUy1F-S);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-6WAhNzvLHcNx);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-uzwO7LyGtCWZ);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__yFkSi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-bmoUWvU7oO5f);
  min-width: 0;
  min-height: 0;
  padding: var(--token-bmoUWvU7oO5f) var(--token-RuzXfs8NypJk);
}
.freeBoxsize_extraSmall__yFkSiqMvi9 {
  padding: var(--token-Al4jXeNTq9l6) var(--token-bmoUWvU7oO5f);
}
.freeBoxsize_small__yFkSihrZhA {
  padding: var(--token-bmoUWvU7oO5f) var(--token-R09znQWzn0Lc);
}
.freeBoxsize_large__yFkSiO2BX {
  padding-top: var(--token-Al4jXeNTq9l6);
  padding-bottom: var(--token-Al4jXeNTq9l6);
}
.freeBoxsize_extraLarge__yFkSiumWyH {
  padding-left: var(--token-q7Y92ApI5F1N);
  padding-right: var(--token-q7Y92ApI5F1N);
}
.freeBoxroundedFull__yFkSiIWmlx {
  padding-right: var(--token-q7Y92ApI5F1N);
  padding-left: var(--token-q7Y92ApI5F1N);
}
.freeBox__qrevH {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__qrevHEyl4I {
  display: flex;
}
.slotTargetStart {
  color: var(--token-G3TyIKmUklGZ);
}
.slotTargetStartcolor_neutral {
  color: var(--token-H-kXjdRamJyI);
}
.slotTargetStartcolor_muted {
  color: var(--token-NIdVdxz0U-vZ);
}
.slotTargetStartcolor_success {
  color: var(--token-2vlhwM4t4pcF);
}
.slotTargetStartcolor_warning {
  color: var(--token-uKig2dj5OkJJ);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-0H_3JJ4mFwG6);
}
.slotTargetStarttype_soft {
  color: var(--token-xbZ_UJFsQSfv);
}
.slotTargetStarttype_bordered {
  color: var(--token-xbZ_UJFsQSfv);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-26X1uwTtnejh);
}
.slotTargetStartsize_small {
  font-size: var(--token-26X1uwTtnejh);
}
.slotTargetStartsize_large {
  font-size: var(--token-qoNAGCPnkku-);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-qoNAGCPnkku-);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-Q_vsLjrRVmxI);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-Q_vsLjrRVmxI);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-6t8NODBZxf7A);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-6t8NODBZxf7A);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-Fe3WFLjTSLeI);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-Fe3WFLjTSLeI);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-oo1CSnkZsnfm);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-oo1CSnkZsnfm);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-23cI8sZMNR2I);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-23cI8sZMNR2I);
}
.svg___0CYdn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-G3TyIKmUklGZ);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-H-kXjdRamJyI);
}
.slotTargetLabelcolor_muted {
  color: var(--token-NIdVdxz0U-vZ);
}
.slotTargetLabelcolor_success {
  color: var(--token-2vlhwM4t4pcF);
}
.slotTargetLabelcolor_warning {
  color: var(--token-uKig2dj5OkJJ);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-0H_3JJ4mFwG6);
}
.slotTargetLabeltype_soft {
  color: var(--token-xbZ_UJFsQSfv);
}
.slotTargetLabeltype_bordered {
  color: var(--token-xbZ_UJFsQSfv);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-Q_vsLjrRVmxI);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-6t8NODBZxf7A);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-Q_vsLjrRVmxI);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-Fe3WFLjTSLeI);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-6t8NODBZxf7A);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-oo1CSnkZsnfm);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-Fe3WFLjTSLeI);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-23cI8sZMNR2I);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-oo1CSnkZsnfm);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-23cI8sZMNR2I);
}
.text__wQu8O {
  white-space: pre;
}
.freeBox__r9YTz {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__r9YTzGos0F {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-G3TyIKmUklGZ);
}
.slotTargetEndcolor_neutral {
  color: var(--token-H-kXjdRamJyI);
}
.slotTargetEndcolor_muted {
  color: var(--token-NIdVdxz0U-vZ);
}
.slotTargetEndcolor_success {
  color: var(--token-2vlhwM4t4pcF);
}
.slotTargetEndcolor_warning {
  color: var(--token-uKig2dj5OkJJ);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-0H_3JJ4mFwG6);
}
.slotTargetEndtype_soft {
  color: var(--token-xbZ_UJFsQSfv);
}
.slotTargetEndtype_bordered {
  color: var(--token-xbZ_UJFsQSfv);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-26X1uwTtnejh);
}
.slotTargetEndsize_small {
  font-size: var(--token-26X1uwTtnejh);
}
.slotTargetEndsize_large {
  font-size: var(--token-qoNAGCPnkku-);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-qoNAGCPnkku-);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-Q_vsLjrRVmxI);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-Q_vsLjrRVmxI);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-6t8NODBZxf7A);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-6t8NODBZxf7A);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-Fe3WFLjTSLeI);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-Fe3WFLjTSLeI);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-oo1CSnkZsnfm);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-oo1CSnkZsnfm);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-23cI8sZMNR2I);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-23cI8sZMNR2I);
}
.svg__yuhGp {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
