.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-QEskyEZ09Mrx);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-Km2P9EPKO7r-);
  width: var(--token-Km2P9EPKO7r-);
  border-radius: 99px;
  border: 1px solid var(--token-NzPrRB5Uj2Vj);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-NzPrRB5Uj2Vj);
  outline-offset: 1px;
}
